@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- header -->
<div class="header" >
    <div class="container">
        <ul>
            <li> <a asp-controller="Home" asp-action="Register"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Register </a></li>
            <li> <a asp-controller="Home" asp-action="Login"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Login </a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
        </ul>
    </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form asp-controller="Home" asp-action="Search" method="get">
                <input type="search" name="search" placeholder="Search here..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-12 logo_agile">
            <h1><a class="nav-link" asp-controller="Home" asp-action="Index"><span>E</span>lite Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item "><a class="nav-link menu__link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a></li>
                            <li class=" menu__item"><a class="nav-link menu__link" asp-controller="Home" asp-action="About">About</a></li>
                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's wear <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                            <a asp-controller="Home" asp-action="Men"><img src="~/images/top2.jpg" alt=" " /></a>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a asp-controller="Home" asp-action="Men">Clothing</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Wallets</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Footwear</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Watches</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Accessories</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Bags</a></li>
                                                <li><a asp-controller="Home" asp-action="Men">Caps & Hats</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a asp-controller="Home" asp-action="Men">Jewellery</a></li>                                                
                                                    <li><a asp-controller="Home" asp-action="Men">Sunglasses</a></li>
                                                    <li><a asp-controller="Home" asp-action="Men">Perfumes</a></li>
                                                    <li><a asp-controller="Home" asp-action="Men">Beauty</a></li>
                                                    <li><a asp-controller="Home" asp-action="Men">Shirts</a></li>
                                                    <li><a asp-controller="Home" asp-action="Men">Sunglasses</a></li>
                                                    <li><a asp-controller="Home" asp-action="Men">Swimwear</a></li>
                                            </ul>
                                        </div>
                         
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                            <li class="dropdown menu__item">
                                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women's wear <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="agile_inner_drop_nav_info">
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a asp-controller="Home" asp-action="Women">Clothing</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Wallets</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Footwear</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Watches</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Accessories</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Bags</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Caps & Hats</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li><a asp-controller="Home" asp-action="Women">Jewellery</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Sunglasses</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Perfumes</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Beauty</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Shirts</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Sunglasses</a></li>
                                                <li><a asp-controller="Home" asp-action="Women">Swimwear</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 multi-gd-img multi-gd-text ">
                                            <a asp-controller="Home" asp-action="Women"><img src="~/images/top1.jpg" alt=" " /></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
        
                            <li class=" menu__item"><a class="menu__link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <form action="#" method="post" class="last">
                    
                    <input type="hidden" name="display" value="1">
                    <button asp-controller="Home" asp-action="Cart"><i class="fa fa-cart-arrow-down nav-link" aria-hidden="true"></i></button>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->
