<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>*@
    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial.cshtml")
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("_FooterPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
