@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<Shop.Areas.Admin.Models.Product>
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body modal-body-sub_agile">
            <div class="col-md-8modal_body_right modal_body_right1">
                <h3 class="agileinfo_sign"><span>Cart</span></h3>

                <form action="#" method="post">
                    <div class="styled-input agile-styled-input-top">                       
                    </div>

                    <div class="styled-input">

                    </div>
                    <div class="col-md-8 modal_body_right modal_body_right1">
                        <input type="submit" value="Pay Now">
                    </div>
                </form>
                <div class="clearfix"></div>
                <p><a asp-controller="Home" asp-action="Index"> Get back to shop</a></p>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Modal content-->
</div>